<%- include("header"); -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam officia neque voluptate, harum cupiditate quae dolor error vero. Eius nisi animi reiciendis quod in quo et, perferendis amet praesentium sequi laborum consectetur expedita quaerat ad aliquam ab sunt porro fugiat.
</p>

<%- include("footer"); -%>